# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs
/HAClusterManager/obj
/HAClusterManager/bin/Debug/netcoreapp2.1
/HAClusterManagerTest/bin/Debug/netcoreapp2.2
*.cache
*.CopyComplete
/HAClusterManagerTest/obj/Debug/netcoreapp2.2/HAClusterManagerTest.dll
/HAClusterManagerTest/obj/Debug/netcoreapp2.2/HAClusterManagerTest.csproj.FileListAbsolute.txt
/HAClusterManagerTest/obj/Debug/netcoreapp2.2/HAClusterManagerTest.pdb
/HAClusterManagerTest/obj/HAClusterManagerTest.csproj.nuget.dgspec.json
/HAClusterManagerTest/obj/HAClusterManagerTest.csproj.nuget.g.props
/HAClusterManagerTest/obj/HAClusterManagerTest.csproj.nuget.g.targets
/HAClusterManagerTest/obj/project.assets.json
/HAClusterManagerTest/obj/Debug/netcoreapp2.2
